<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
<h:body>
<h:head>
<h1 align="center">GCU In-Class Activity</h1>
</h:head> 
<ui:define name="title">Login Page</ui:define>
<div align="center">

	<h:form>
 		<label>Enter Your Name:</label><br /><br />
          <h:inputText id="firstName" value= "#{user.firstName}"/>
          <h:inputText id="lastName" value="#{user.lastName}"/>
                 <br />
                 <br />
                 
  		<h:commandButton value="submit" action="#{formController.OnSubmit}"/>
	</h:form>
	<h:messages />
</div>

<h5 align="center">@Copyright Grand Canyon University</h5>
</h:body> 
<!-- <ui:composition template="/layouts/commonLayout.xhtml">-->
</html>
