<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<title>JSF Response page</title>
<style type="text/css">
.table {   
   border-collapse:collapse;
   border:1px solid #000000;
}

.tableHeader {
   text-align:center;
   background:none repeat scroll 0 0 #0;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.tableOddRow {
   text-align:center;
   background:none repeat scroll 0 0 #ADD8E6;	
}

.tableEvenRow {
   text-align:center;
   background:none repeat scroll 0 0 #F5DE83;
}
</style>
</h:head> 
<h:body> 
<div align="center">
<p>Hello there #{user.firstName} #{user.lastName} <br /><br />
 Your orders are: <br /></p>
 
 <h:dataTable id="orderTable" value="#{orders.orderList}" var="order" styleClass = "table"
            headerClass = "tableHeader"
            rowClasses = "tableOddRow,tableEvenRow">>
 
 <h:column>    				
      <f:facet name = "header">Number</f:facet>    				
      #{order.orderNumber}
   </h:column>
   
   <h:column>
      <f:facet name = "header">Name</f:facet>
      #{order.productName}
   </h:column>
   
   <h:column>
      <f:facet name = "header">Price</f:facet>
      #{order.price}
   </h:column>
   
   <h:column>
      <f:facet name = "header">Quantity</f:facet>
      #{order.quantity}
   </h:column>
   
</h:dataTable>
 
 
 <br />
 <h:button value="Login Again"></h:button>
</div>
</h:body> 
</html>
