<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<ui:define name="title">JSF Login Page</ui:define>
<ui:define name="content">
<div align="center">
 <label>Enter Your Name:</label><br /><br />
	<h:form>
 
          <h:inputText id="firstName" value= "#{user.firstName}"/>
          <h:inputText id="lastName" value="#{user.lastName}"/>
                 <br />
                 <br />
                 
  		<h:commandButton value="submit" action="#{formController.OnSubmit}"/>
	</h:form>
	<h:messages /> 
</div>
</ui:define>
</body> 
</html>
