<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<style>
.button {
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
<h2 align="center">TigerEgg Peripherals Login </h2>
</h:head> 
<body> 
<div align="center">
 <label>Enter Your Name and password:</label><br /><br />
<h:form>
 
          <h:inputText id="firstName" value= "#{user.firstName}" type="text"
                 />
                 <br />
          <h:inputSecret redisplay="false"
                 id="password"
                 value="#{user.password}"
                 />
                 <br />
                 <br />
                 
  <h:commandButton value="submit" class="button" action="#{formController.OnSubmit}"/>
</h:form>

<footer>
    			<h5> Work done by Aaron Ross, Mark Hockensmith, and Juan Salazar</h5>
</footer>
</div>
</body> 
</html>
