<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<style>
.button {
    background-color: #FFA500;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
<title>TigerEgg Main Menu</title>
<h4 align="right">Hello #{user.firstName}</h4>
<h2 align="center">TigerEgg Peripherals Main Menu </h2> 
</h:head> 
<h:body> 
<div align="center">
<h3>Selected a product type: </h3>
<button type="button" class="button">GPUs</button>
<button type="button" class="button">CPUs</button>
<button type="button" class="button">Memory</button>
</div>
</h:body> 
</html>
